# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# cекрети (паролі від Supabase)
.env
# віртуальне середовище Python
venv/
env/
__pycache__/
*.pyc
# залежності Node.js
node_modules/
dist/
.npm/
# локальні бази або тестові дані
*.xlsx
*.csv
*.db